body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(235,221,174,255);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: rgba(231,212,165,255);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo img {
    width: 50px;
    height: auto;
}

.header__nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 0 -50px;
    list-style: none;
    flex: 1;
}

.header__nav-item {
    margin: 0 15px;
}

.header__nav-link {
    color: #233134;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.header__nav-link:hover {
    color: #ddd;
}

.hero {
    background: url('path/to/your/image.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding-top: 80px;
}

.hero__content {
    color: #fff;
}

.hero__title {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero__button:hover {
    background-color: #ddd;
}


.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.contact-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 50px;
}

.contact-video__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    width: 100%;
    max-width: 1200px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form__text {
    margin-bottom: 20px;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form__group {
    display: flex;
    align-items: center;
}

.contact-form__label {
    flex: 0 0 170px;
    margin-bottom: 0;
    font-weight: bold;
}

.contact-form__input, .contact-form__textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-color 0.3s;
}

.contact-form__textarea {
    height: 22px;
    resize: vertical;
}

.contact-form__input:focus, .contact-form__textarea:focus {
    border-color: #555;
    outline: none;
}

.contact-form__input.error, .contact-form__textarea.error {
    border-color: red;
}

.contact-form__input.valid, .contact-form__textarea.valid {
    border-color: rgba(0, 255, 0, 0.3);
}

.contact-form__button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form__button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.video-section {
    display: flex;
    flex-direction: column;
}

.video-section__text {
    margin-bottom: 20px;
}

.video-section__video {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.video-section__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.video-section__button:hover {
    background-color: #555;
}
