html {
    scroll-padding-top: 12rem; /* Adjust based on your header height */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgba(235,221,174,0.5); /* Increased transparency */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form__button, .video-section__button, .hero__button {
    background-color: rgba(0, 0, 0, 0.7); /* Darker background for buttons */
    color: #fff;
    border-radius: 10px; /* Slightly more rounded corners */
}

.contact-form__button:hover, .video-section__button:hover, .hero__button:hover {
    background-color: rgba(0, 0, 0, 0.85); /* Darker on hover */
    transform: translateY(-2px);
}

.card{
    border: 2px solid rgba(235,221,174,0.5);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.575);
}

/* START header */
.header {
    background: rgba(255, 255, 255, 0.1); /* More transparency */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header__logo img {
    width: 70px;
    height: auto;
}

.header__nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 10px -70px;
    list-style: none;
    flex: 1;
}

.header__nav-item {
    margin: 0 15px;
}

.header__nav-link {
    color: #233134;
    text-decoration: none;
    transition: color 0.3s;
}

.header__nav-link:hover {
    color: #ddd;
}
/* END header */

/* START hero section */

.card-post {
    position: absolute;
    z-index: 1;
    height: 22rem;
    width: 15rem;
    background-color: #233134;
    color: white;
    border: 2px solid rgba(235,221,174,0.5);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.575);
    top: 55%; /* Vertically center the card */
    transform: translateY(-30%); /* Adjust to perfectly center it */
}

.left-card {
    left: -9rem; /* Position the first card on the left */
}

.right-card {
    right: -9rem; /* Position the second card on the right */
}

.hero {
    background: url('path/to/your/image.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero__content {
    color: #f5f5f5; /* Lighter text color for better contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for better readability */
}

.hero__title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold; /* Make the text bolder */
}

.hero__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300; /* Lighter font weight for contrast */
}

.hero__button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}
/* END hero section */

/* FOOTER */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* START form section */
.contact-form {
    flex-direction: column;
    margin-bottom: 7rem;
    position: relative;
}

.contact-form__title {
    text-align: center;
    font-size: 24px;
    margin: 0 0 2rem 0;
}

.contact-form__text {
    margin: 0 0 10px 0;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form__group {
    display: flex;
    align-items: center;
}

.contact-form__label {
    flex: 0 0 170px;
    margin-bottom: 0;
    font-weight: bold;
}

.contact-form__input, .contact-form__textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-color 0.3s;
}

.contact-form__textarea {
    height: 22px;
    resize: vertical;
}

.contact-form__input:focus, .contact-form__textarea:focus {
    border-color: #555;
    outline: none;
}

.contact-form__input.error, .contact-form__textarea.error {
    border-color: red;
}

.contact-form__input.valid, .contact-form__textarea.valid {
    border-color: rgba(0, 255, 0, 0.3);
}

.contact-form__button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
/* END form section */

/* START video section */
.contact-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.contact-video__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    width: 100%;
    max-width: 1200px;
}

.video-section {
    display: flex;
    flex-direction: column;
}

.video-section__text {
    margin: 0 0 10px 0;
}
.video-section__title {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.video-section__video {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.video-section__button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}
/* END video section */