:root {

  /* BACKGROUNDS */

  --color-bg: #f6f2eb;
--color-bg-secondary: rgba(255, 255, 255, 0.55);

  /* TEXT */

  --color-text: #2a2622;
--color-text-muted: #24211d;

  /* ACCENT */

  --color-accent: #7a5a3d;
--color-accent-hover: #664a31;

  /* UI */

 --color-border: rgba(42, 38, 34, 0.08);

  /* TYPOGRAPHY */

  --font-main: 'Inter', sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 28px;
  --text-2xl: 40px;

  /* SPACING */

  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 72px;

  /* RADIUS */

  --radius-sm: 12px;
  --radius-md: 18px;
  --radius-lg: 28px;

  /* SHADOW */

  --shadow-card:
    0 10px 30px rgba(0, 0, 0, 0.04);

  /* CONTAINER */

  --container-width: 1200px;
  --container-padding: 16px;

  /* TRANSITIONS */

  --transition-fast: 0.2s ease;
  --transition-medium: 0.35s ease;

}